
  /* @media (max-width: 1024px) {} */

  .main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
  }

  /* UPPER NAV BAR STYLE */
  #up_nav_container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 30px;
  }

  .login_signup_container{
    display: flex;
    flex-direction: column;
    
  }


