/* @media (max-width: 1024px) {} */

.main_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}

/* UPPER NAV BAR STYLE */
#up_nav_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
}

/* LOGIN / SIGNUP */

.login_signup_container {
  display: flex;
  flex-direction: column;

}

/* Hangouts and Volunteering */

.event_container {
  border: 3px solid #fff2e2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.event_container h2 {
  align-self: center;
  color: #d9b09b;
}

.event_container p {
  text-align: justify;
}

.event_container button {
  align-self: center;
}


.all_events_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* FAQ */

.faq_container {
  text-align: justify;
  border: 3px solid #fff2e2;
  border-radius: 20px;
  margin-bottom: 20px; 
}