/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

@font-face {
  font-family: "Lexend";
  src: url("../public/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  /* font-weight: 100 900; */
  font-style: normal;
}

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  background-color: #1E1E24;
  color: #FFF8F0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;

}

@font-face {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  src: local("../public/Lexend/Lexend-VariableFont_wght.ttf");
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
  padding: 10px;
}

button {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: 3px solid #1E1E24;
  border-radius: 20px;
  background-color: #fff2e2;
}

button:hover{
  background-color: #92140C;
  color: #fff2e2;
}
div{
  padding: 20px;
}

table{
  text-align:justify;
  width: 500px;
}

input{
  height: 30px;
  width: 300px;
  border-radius: 5px;
}