.msg{
    display:flex;
    flex-direction: column;
    margin-bottom: 2vh;
    position:fixed;
    bottom:2rem
}
.MsgR {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 400px;
    height: 100px;
    text-align: left;
    font: 500 1.8em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
    color:black
}

.MsgL {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 400px;
    height: 100px;
    text-align: left;
    font: 500 1.8em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    color:black
}